@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  body {
    font-family: 'Raleway-Regular', sans-serif;
  }

  input,
  textarea,
  [role="textbox"],
  [contenteditable="true"] {
    outline: none !important;
    box-shadow: none !important;
  }

  input:focus,
  textarea:focus,
  [role="textbox"]:focus,
  [contenteditable="true"]:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
