PORT=5012
NODE_ENV=production
PROJECT_NAME=liiro-ebook
MONGO_URL="mongodb://admin:PROD_PASSWORD_2026@mongodb-svc.multicamp.svc.cluster.local:27017/liiro_prod?authSource=admin"
MONGO_URI="mongodb://admin:PROD_PASSWORD_2026@mongodb-svc.multicamp.svc.cluster.local:27017/liiro_prod?authSource=admin"
HETZNER_MONGO_URL="mongodb://admin:PROD_PASSWORD_2026@mongodb-svc.multicamp.svc.cluster.local:27017/liiro_prod?authSource=admin"
JWT_SECRET=your_jwt_secret_here
STRIPE_SECRET_KEY=your_stripe_key_here
CORS_ORIGINS=http://localhost:8085,http://localhost:8086,http://localhost:3000

# Hetzner S3 Object Storage
HETZNER_S3_KEY=your_s3_key_here
HETZNER_S3_SECRET=your_s3_secret_here
HETZNER_S3_ENDPOINT=https://nbg1.your-objectstorage.com
HETZNER_S3_BUCKET=multicamp-prod-storage
